.header{
	margin: 0;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.name{
    float: left;
    color: #C26DBC;
    padding-left: 20px;
    margin-top: 20px;
    font-size: x-large;
}